library/TelAPI.InboundXML.Test/InboundXML.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:annotation>
        <xs:documentation>
            Telapi InboundXML XML schema
        </xs:documentation>
    </xs:annotation>

    <xs:element name="Response">
        <xs:complexType>
            <xs:sequence maxOccurs="unbounded" minOccurs="0">
                <xs:choice>
                    <xs:element name="Dial" type="DialType"></xs:element>
                    <xs:element name="Gather" type="GatherType"></xs:element>
                    <xs:element name="GetSpeech" type="GetSpeechType"></xs:element>
                    <xs:element name="Hangup" type="HangupType"></xs:element>
                    <xs:element name="Pause" type="PauseType"></xs:element>
                    <xs:element name="Play" type="PlayType" />
                    <xs:element name="Record" type="RecordType"></xs:element>                                       
                    <xs:element name="Redirect" type="RedirectType"></xs:element>
                    <xs:element name="Reject" type="RejectType"></xs:element>
                    <xs:element name="Say" type="SayType"></xs:element>
                    <xs:element name="Sms" type="SmsType"></xs:element>
                </xs:choice>
            </xs:sequence>           
        </xs:complexType>
    </xs:element>
    
    <xs:complexType name="DialType" mixed="true">
        <xs:sequence maxOccurs="unbounded" minOccurs="0">
            <xs:choice>
                <xs:element name="Number" type="NumberType"></xs:element>
                <xs:element name="Conference" type="ConferenceType"></xs:element>
                <xs:element name="Sip" type="SipType"></xs:element>                
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="action" type="xs:string"></xs:attribute>
        <xs:attribute name="method" type="MethodType"></xs:attribute>
        <xs:attribute name="timeout" type="xs:long"></xs:attribute>
        <xs:attribute name="hangupOnStar" type="xs:string"></xs:attribute>
        <xs:attribute name="timeLimit" type="xs:long"></xs:attribute>
        <xs:attribute name="callerId" type="xs:string"></xs:attribute>
        <xs:attribute name="hideCallerId" type="xs:string"></xs:attribute>
        <xs:attribute name="dialMusic" type="xs:string"></xs:attribute>
        <xs:attribute name="callbackUrl" type="xs:string"></xs:attribute>
        <xs:attribute name="callbackMethod" type="MethodType"></xs:attribute>
        <xs:attribute name="confirmSound" type="xs:string"></xs:attribute>
        <xs:attribute name="digitsMatch" type="xs:string"></xs:attribute>
        <xs:attribute name="straightToVm" type="xs:string"></xs:attribute>
        <xs:attribute name="heartbeatUrl" type="xs:string"></xs:attribute>
        <xs:attribute name="heartbeatMethod" type="MethodType"></xs:attribute>
        <xs:attribute name="forwardedFrom" type="xs:string"></xs:attribute>        
    </xs:complexType>

    <xs:complexType name="GatherType">
        <xs:sequence maxOccurs="unbounded" minOccurs="0">
            <xs:choice>
                <xs:element name="Play" type="PlayType"></xs:element>
                <xs:element name="Say" type="SayType"></xs:element>
                <xs:element name="Pause" type="PauseType"></xs:element>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="action" type="xs:string"></xs:attribute>
        <xs:attribute name="method" type="MethodType"></xs:attribute>
        <xs:attribute name="timeout" type="xs:int"></xs:attribute>
        <xs:attribute name="finishOnKey" type="xs:string"></xs:attribute>
        <xs:attribute name="numDigits" type="xs:long"></xs:attribute>                
    </xs:complexType>

    <xs:complexType name="GetSpeechType">
        <xs:sequence maxOccurs="unbounded" minOccurs="0">
            <xs:choice>
                <xs:element name="Play" type="PlayType"></xs:element>
                <xs:element name="Say" type="SayType"></xs:element>
                <xs:element name="Pause" type="PauseType"></xs:element>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="grammar" type="xs:string"></xs:attribute>
        <xs:attribute name="action" type="xs:string"></xs:attribute>
        <xs:attribute name="method" type="MethodType"></xs:attribute>
        <xs:attribute name="timeout" type="xs:int"></xs:attribute>
        <xs:attribute name="playBeep" type="xs:string"></xs:attribute>
    </xs:complexType>  

    <xs:complexType name="NumberType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="sendDigits" type="xs:string"></xs:attribute>
                <xs:attribute name="url" type="xs:string"></xs:attribute>
                <xs:attribute name="method" type="MethodType"></xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="ConferenceType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="muted" type="xs:string"></xs:attribute>
                <xs:attribute name="beep" type="xs:string"></xs:attribute>
                <xs:attribute name="startConferenceOnEnter" type="xs:string"></xs:attribute>
                <xs:attribute name="endConferenceOnExit" type="xs:string"></xs:attribute>
                <xs:attribute name="maxParticipants" type="xs:string"></xs:attribute>
                <xs:attribute name="waitUrl" type="xs:string"></xs:attribute>
                <xs:attribute name="waitMethod" type="xs:string"></xs:attribute>
                <xs:attribute name="hangupOnStar" type="xs:string"></xs:attribute>
                <xs:attribute name="callbackUrl" type="xs:string"></xs:attribute>
                <xs:attribute name="callbackMethod" type="xs:string"></xs:attribute>
                <xs:attribute name="waitSound" type="xs:string"></xs:attribute>
                <xs:attribute name="waitSoundMethod" type="MethodType"></xs:attribute>
                <xs:attribute name="digitsMatch" type="xs:string"></xs:attribute>               
                <xs:attribute name="stayAlone" type="xs:string"></xs:attribute>                
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="SipType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="sendDigits" type="xs:string"></xs:attribute>
                <xs:attribute name="url" type="xs:string"></xs:attribute>
                <xs:attribute name="method" type="MethodType"></xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="RecordType">
        <xs:attribute name="action" type="xs:string"></xs:attribute>
        <xs:attribute name="method" type="MethodType"></xs:attribute>
        <xs:attribute name="timeout" type="xs:int"></xs:attribute>
        <xs:attribute name="finishOnKey" type="xs:string"></xs:attribute>
        <xs:attribute name="maxLength" type="xs:int"></xs:attribute>
        <xs:attribute name="transcribe" type="xs:string"></xs:attribute>
        <xs:attribute name="transcribeCallback" type="xs:string"></xs:attribute>
        <xs:attribute name="playBeep" type="xs:string"></xs:attribute>
        <xs:attribute name="bothLegs" type="xs:string"></xs:attribute>
        <xs:attribute name="fileFormat" type="xs:string"></xs:attribute>        
    </xs:complexType>  

    <xs:complexType name="HangupType">
        <xs:attribute name="schedule" type="xs:long"></xs:attribute>
    </xs:complexType>   

    <xs:complexType name="RedirectType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="method" type="MethodType"></xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="RejectType">
        <xs:attribute name="reason" type="ReasonType"></xs:attribute>
    </xs:complexType>

    <xs:complexType name="PauseType">
        <xs:attribute name="length" type="xs:int"></xs:attribute>
    </xs:complexType>

    <xs:complexType name="PlayType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="loop" type="xs:long"></xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="SayType" mixed="true">
        <xs:attribute name="loop" type="xs:long"></xs:attribute>
        <xs:attribute name="voice" type="VoiceType"></xs:attribute>
    </xs:complexType>
    
    <xs:complexType name="SmsType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="to" type="xs:string"></xs:attribute>
                <xs:attribute name="from" type="xs:string"></xs:attribute>                
                <xs:attribute name="action" type="xs:string"></xs:attribute>
                <xs:attribute name="method" type="MethodType"></xs:attribute>
                <xs:attribute name="statusCallback" type="xs:string"></xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:simpleType name="MethodType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="POST"></xs:enumeration>
            <xs:enumeration value="GET"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="VoiceType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="man"></xs:enumeration>
            <xs:enumeration value="woman"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ReasonType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="busy"></xs:enumeration>
            <xs:enumeration value="rejected"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    
</xs:schema>
